@using JS_Practice.WebUI.Constants
@model dynamic

@{
    ViewData[CommonViewConstants.ViewDataTitle] = "Angular Practice";
}


<div>
    <h3>Hello, AngularJS world!</h3>
</div>


@section scripts {
    <script>
        alert('Hello!');
    </script>
}